/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FINE RESET */

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
}

.col {
    float: left;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

img {
    width: 100%;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-layover {
    height: 100%;
    width: 100%;
    background-color: rgba( 0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
}

.text {
    font-size: 16px;
    color: #b0b0b0;
}

.padding-block-30{
    padding: 30px 0;
}

.padding-block-20 {
    padding: 20px 0;
}
/* FINE COMMON */

/* WRAPPER */
.wrapper{
    margin: auto;
    width: 80%;
}
/* FINE WRAPPER */

/* HEADER */

/* Logo */
header .header-logo img{
    width: 180px;
    padding-right: 20px;
    border-right: 1px solid #e5e5e5;
}
/* Fine Logo */

/* Menu */
.header-menu ul {
    list-style-type: none;
}

.header-menu li {
    display: inline-block;
    padding-right: 10px;
}

.header-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #b0b0b0;
}
/* Fine Menu */

/* Cover */
header .header-cover {
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

header .teaser{
    width: 60%;
    position: absolute;
    bottom: 50px;
    left: 40px;
    color: #fff;
}

.teaser h1 {
    font-weight: 500;
}

.teaser h3 {
    font-weight: 500;
    font-size: 18px;
}
/* Fine Cover */
/* FINE HEADER */


/* MAIN */
/* SECTION TITLE */
.section-title h2 {
    font-size: 37px;
}
/* FINE SECTION TITLE */

/* SECTION CONTENT */
.secondary-banner{
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.section-content h4{
 font-weight: 500;
 margin-bottom: 10px;
}

.content-column-1, .content-column-3 {
    width: 20%;
}

.content-column-2 {
    width: 57%;
    margin: 0 1.5%;
}
/* FINE SECTION CONTENT */

/* FINE MAIN */

/* FOOTER */


footer div {
    text-align: center;
    font-size: 18px;
}

footer span {
    color: red;
}
/* FINE FOOTER */